# Временные файлы
*~
*.swp
*.swo
*.bak
*.tmp

# Логи
*.log

# Файлы настроек Visual Studio
.vs/
*.user
*.suo
*.cache

# Исключение папки bin и obj, в них хранятся собранные бинарные файлы
[Bb]in/
[Oo]bj/